################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SVPP_labs/v16/Server/sqlite3
/Calculator
/ComboBox+ListBox
/ConsoleApp
/MovingButton
/.vs/SVPP_labs/DesignTimeBuild
/.vs
