################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SVPP_labs/v16/Server/sqlite3
/Calculator
/ComboBox+ListBox
/ConsoleApp
/MovingButton
/.vs/SVPP_labs/DesignTimeBuild
/.vs
/EmployeeManagement/bin/Debug/EmployeeManagement.exe.config
/EmployeeManagement/bin/Debug/EmployeeManagement.pdb
/EmployeeManagement
/Graphic editor/bin/Debug
/Graphic editor/obj/Debug
/Graphic editor/Properties
/Running horse/bin/Debug
/Running horse/obj/Debug/MainWindow.baml
/Running horse/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Running horse/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Running horse/obj/Debug
/Running horse/Properties
/Graphic editor/bin/Release
/Graphic editor/obj/Release
